<!-- Comment Box -->
<div class="mb-10 p-6 shadow-xl rounded-xl bg-cream">
  <textarea
    class="w-full h-24 p-4 mb-4 text-gray-700 bg-white rounded-lg shadow focus:outline-none focus:ring-2 focus:ring-blue-dark focus:border-transparent"
    placeholder="Write a comment..."
    [(ngModel)]="newCommentContent"
  ></textarea>
  <div class="flex justify-between">
    <button
      class="bg-blue hover:bg-blue-dark text-white font-semibold py-2 px-6 rounded-lg transition duration-300 ease-in-out shadow-md"
      (click)="createComment()"
    >
      Send Comment
    </button>
    <span class="flex items-center text-sm text-gray-600 italic"
      >Your thoughts matter!</span
    >
  </div>
</div>

<div class="comments-container space-y-6">
  <div
    class="comment p-6 bg-white rounded-xl shadow"
    *ngFor="let comment of comments"
  >
    <div class="flex space-x-4">
      <!-- User Avatar -->
      <img
        *ngIf="comment.profileImageUrl"
        [src]="comment.profileImageUrl"
        alt="User Avatar"
        class="w-10 h-10 rounded-full object-cover"
      />

      <div class="flex-1">
        <!-- Comment Content and User Info -->
        <div class="flex justify-between items-center mb-2">
          <p class="text-gray-800 font-semibold">{{ comment.content }}</p>
          <span class="text-sm italic text-gray-600"
            >Posted by: {{ comment.username }}</span
          >
        </div>

        <!-- Comment Actions -->
        <div class="comment-actions flex justify-end space-x-4">
          <!-- Like Button -->
          <button
            *ngIf="comment.id"
            (click)="toggleLike(comment.id)"
            class="flex items-center space-x-2 text-blue"
          >
            <i class="fa-regular fa-thumbs-up"></i>
            <span class="text-sm font-medium">{{ comment.likesCount }}</span>
          </button>
          <!-- Dislike Button -->
          <button
            *ngIf="comment.id"
            (click)="toggleDislike(comment.id)"
            class="flex items-center space-x-2 text-rose"
          >
            <i class="fa-regular fa-thumbs-down"></i>
            <span class="text-sm font-medium">{{ comment.dislikesCount }}</span>
          </button>
          <!-- Delete Button -->
          <button
            (click)="deleteComment(comment.id)"
            class="flex items-center space-x-2 text-gray-600"
          >
            <i class="fa fa-trash-alt"></i>
            <span class="text-sm font-medium">Delete</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
