<div class="container mx-auto p-4">
  <div class="bg-cream p-4 rounded shadow">
    <!-- User Info and Post Content -->
    <div class="flex items-start mb-4">
      <!-- User Avatar -->
      <img
        class="h-12 w-12 rounded-full object-cover shadow mr-4"
        [src]="post.userDto?.profileImageUrl"
        alt="User Avatar"
      />
      <div class="flex-1">
        <h4 class="text-lg font-semibold text-blue-dark">
          {{ post.userDto?.username }}
        </h4>
        <p class="text-sm text-gray">{{ post.date | date : "medium" }}</p>
        <p class="text-gray-900 mt-2">{{ post.content }}</p>
      </div>
    </div>

    <!-- Comment Box -->
    <div class="mb-4">
      <textarea
        class="w-full h-24 p-2 border rounded focus:outline-none focus:shadow-outline"
        placeholder="Write a comment..."
      ></textarea>
      <button
        class="bg-blue hover:bg-blue-dark text-white font-bold py-2 px-4 rounded mt-2"
      >
        Send Comment
      </button>
    </div>

    <!-- Like, Dislike, and Delete Buttons -->
    <div class="flex items-center space-x-4">
      <button (click)="toggleLike(post)" class="flex items-center space-x-1">
        <svg
          class="w-6 h-6"
          [ngClass]="{
            'text-green-500': post.isLiked,
            'text-gray-500': !post.isLiked
          }"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M5 15l7-7 7 7"
          ></path>
        </svg>
        <span>{{ post.likeCount }}</span>
      </button>
      <button (click)="toggleDislike(post)" class="flex items-center space-x-1">
        <svg
          class="w-6 h-6"
          [ngClass]="{
            'text-red-500': post.isDisliked,
            'text-gray-500': !post.isDisliked
          }"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M19 9l-7 7-7-7"
          ></path>
        </svg>
        <span>{{ post.dislikeCount }}</span>
      </button>
      <button class="flex items-center space-x-1">
        <svg
          class="w-6 h-6 text-gray-600"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M6 18L18 6M6 6l12 12"
          ></path>
        </svg>
        <span>Delete Comment</span>
      </button>
    </div>
  </div>
</div>
